.wetherApi h1 {
    text-align: center;
    background-color: #e3e3e3;
    margin-top: 20px;
}

.weathers {
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #e3e3e3;
}

.weather img {
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    height: 220px;
    border-radius: 20px;
}